body,
html {
  height: 100%;
  background-repeat: no-repeat;
  background: url(../img/fondo.jpg) no-repeat center center fixed;
  background-size: 100% 100%;
}

.content-4 {
  width: 100%;
  /* background: rgba(0, 0, 0, 0.3); */
}

.text-title {
  text-shadow: 2px 1px 3px #000;
  font-size: 26px;
}

p {
  color: black;
  text-shadow: 2px 1px 3px #fff;
  font-size: 20px;
}

span {
  text-shadow: 2px 1px 3px #ff5733;
}

.text-title {
  color: #ff5733;
  text-transform: uppercase;
}

.contador {
  text-align: center;
  background: rgba(177, 177, 177, 0.8);
  padding: 1em;
  font-size: 15pt;
}

div {
  margin: 0;
  padding: 0;
}

.card,
.rouded-0 {
  background-color: rgba(177, 177, 177, 0.3);
}

.anuncio {
  line-height: 1.3;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.interstial {
  background-color: rgba(177, 177, 177, 0.3);
}

.ads {
  display: block;
  margin: auto;
  width: auto;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.btn {
  border-radius: 0px;
  text-transform: uppercase;
}
.icon-btn {
  padding: 1px 15px 3px 2px;
  border-radius: 50px;
}

.btn-info {
  background-color: #5bc0de;
  border-color: #46b8da;
}

.text-info {
  color: #17a2b8 !important;
}
